.containerAbout{
    background-image: url("../../assets/Pictures/imageBackground.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contentAbout
{
    background-color: white;
    flex-direction: column;
    margin: auto;
    width:80%;
    height:75vh;
}

.image {
    width: 100%;
    background-image: url("../../assets/Pictures/bedroom0.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}


.colorText
{
    color: #49a078c4;
}