.Container_Contact {
  background-color: blueviolet;
  background-image: url("../Pictures/background/contact-glass.jpg");
}

/*************************************************************************/

/**************************
.Content_Contact {
  background-color: #49a07859;  -> bg-green/30
  backdrop-filter: blur(8px); -> backdrop-blur
  display: flex; -> flex
  margin-top: 36vh; -> mt-[36vh]
  flex-direction: column; -> flex-col
  width: 86%; -> w-[86%]
}




-----------------------------*/

/*--------------------------------------*/
.Contact_Us {
  font-family: AdventPro;
}
/***********************************************************************************/

::placeholder {
  font-family: AdventPro;
  font-size: 1.2em;
  color: black;
}

@media (min-width: 1025px) {
  ::placeholder {
    font-size: 1.4em;
  }
}
/************************************/

.Contact_mail {
  width: 92%;
}

/************************************/

.Contcat_message {
  width: 92%;
}

/************************************/

.map {
}
