/*  .Container_Contact {

  background-position: center; -> bg-center
  background-size: cover; -> bg-cover
  background-repeat: no-repeat;  -> bg-no-repeat
  display: flex; -> flex
  justify-content: center ; -> justify-center
  backgrond-image:"url('./src/assets/Pictures/background/bk-count.jpg')" ; -> bg-contact-bg
}
}*/

/*************************************************************************/

/**************************
.Content_Contact {
  background-color: #49a07859;  -> bg-green/30
  backdrop-filter: blur(8px); -> backdrop-blur
  display: flex; -> flex
  margin-top: 36vh; -> mt-[36vh]
  flex-direction: column; -> flex-col
  width: 86%; -> w-[86%]
}




-----------------------------*/

/*--------------------------------------*/
.Contact_Us {
  font-family: AdventPro;
}
/***********************************************************************************/

::placeholder {
  font-family: AdventPro;
  font-size: 1.2em;
  color: black;
}
/************************************/

.Contact_mail {
  width: 92%;
}

/************************************/

.Contcat_message {
  width: 92%;
}

/************************************/

.map {
}
