.containerLogin{
    background-image: url("../../assets/Pictures/imageBackground.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contentLogin
{
    background-color: white;
    flex-direction: row;
    margin: auto;
    width:80%;
    height:50%;
}

.fontButton
{
    font-family: AdventPro;
}

.colorText
{
    color: #49a078c4;
}


.backgroundButton
{
    background-color: #49a078c4;
}


.v-line
{
    border-left: solid;
    border-color: #49a078c4;
    height: 30%;
    left: 50%;
    position: absolute;
}

@media screen and (max-width: 720px) {
    .v-line
    {
        display:none;
    }
}