.containerLogin{
    background-image: url("../../assets/Pictures/background/bk-count.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200vh;
    display: flex;

}

@media (min-width: 1025px) {
.containerLogin{
    background-image: url("../../assets/Pictures/background/bk-count.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    }
}


/****************************************************************/

.contentLogin {
    background-color: white;
    flex-direction: row;
    margin: auto;
    width: 80%;
    height: 50%;
}

@media (min-width: 1025px) {
    .contentLogin {
    background-color: white;
    flex-direction: row;
    margin: auto;
    width:80%;
    height:50%;

    }
}


/**--------------------------------------------**/

.other_content{
    background-color: rgb(255 255 255 / 15%);
    backdrop-filter: blur(8px);
    display: flex;
    margin-top: 36vh;
    flex-direction: column;
    height: 80%;
}
@media (min-width: 1025px) {
 .other_content{
    margin-top: 10vh;
    }
}

/*--------------------------------------*/

.connection{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    margin-left: 10.5vw;
}



.My_Count{
    font-family: AdventPro;
    text-shadow: 3px 5px 2px #474747;
}
.title_count {
    width: 100%;
    text-shadow: 3px 5px 2px #474747;

}

.form_resa{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 7Vw;
    margin-top: 2vh;
}

#button_register
{
    font-family: AdventPro;
    width: 90%;
}

.colorText
{
    color: #49a078c4;
}


.backgroundButton
{
    background-color: #49a078c4;
}


.v-line
{
    border-left: solid;
    border-color: #49a078c4;
    height: 30%;
    left: 50%;
    position: absolute;
}

@media screen and (max-width: 720px) {
    .v-line
    {
        display:none;
    }
}