nav {
  z-index: 10;
  margin-top: 6vh;
  position: absolute;
  background-color: rgb(3, 0, 0);
  height: 10%;
  width: 100%;
}
@media (min-width: 1025px) {
  nav {
    background-color: rgb(73 160 120 / 80%);
    backdrop-filter: blur(6px);
    height: 65px;
    margin-top: 0vh;
    position: sticky;
    top: 0;
    z-index: 9;
  }
}
.link {
  height: 100%;
  width: 80%;
  margin-left: 10vw;
  align-items: center;
  color: white;
  justify-content: space-around;
  display: none;
}
@media (min-width: 1025px) {
  .link {
    height: 100%;
    width: 80%;
    margin-left: 10vw;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
  }
}
.link_mobile {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-around;
}
@media (min-width: 1025px) {
  .link_mobile {
    display: none;
  }
}
.img_arti {
  display: flex;
  justify-content: right;
  width: 80vw;
  height: 18vh;
  margin-top: 14vh;
  margin-right: 8vw;
}

.arti {
  width: 4.5rem;
  height: 4rem;
}

.slogan {
  width: 54%;
  font-size: 1.4rem;
  margin-left: 20vw;
  text-align: center;
}
#menuToggle {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10vh;
  left: 25px;
  z-index: 8;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media (min-width: 1025px) {
  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -40px;
    left: 25px;
    z-index: 8;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 15%;
  }
}

#menuToggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background-color: #4dff00;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

@media (min-width: 1025px) {
  #menuToggle span {
    background-color: #000000;
  }
}
/***************************************/

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background-color: rgb(255, 255, 255);
}
@media (min-width: 1025px) {
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background-color: #53ff53;
  }
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: -50px 0 0 -50px;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  width: 60px;
  height: 40px;
  border-radius: 60px / 40px;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  height: 64vh;
  border-radius: 185px / 160px;
  background-color: rgba(73, 160, 120, 0.96);
}

@media (min-width: 1025px) {
  #menu {
    position: absolute;
    width: 0px;
    height: 0px;
    margin: -50px 0 0 -50px;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    border-style: solid;
    border-color: transparent #4a1e7200 #50505000 rgba(0, 0, 0, 0.75);
    border-style: solid;
    border-width: 28vw 218px 24vw 61vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border-radius: 0px;
  }
}

#menu li {
  padding: 10px 0;
  transition-delay: 2s;
  font-size: 1.5rem;
  color: white;
  margin-left: 30vw;
}

@media (min-width: 1025px) {
  #menu li {
    padding: 10px 0;
    transition-delay: 2s;
    font-size: 2.5rem;
    color: white;
    margin-left: -54vw;
  }
}

#menuToggle input:checked ~ ul {
  transform: none;
}
.flag {
  max-width: 18%;
  height: auto;
}

@media (min-width: 1025px) {
  .flag {
    max-width: 5%;
    height: auto;
  }
}

.flag:hover {
  max-width: 5%;
  height: auto;
  filter: drop-shadow(0 0 0.75rem #04fc04);
}

.languageButton {
  z-index: 10;
}
