.familyText
{
    font-family: AdventPro;
}

.contentReservation
{
    background-color: white;
    flex-direction: row;
    margin: auto;
    width:90%;
    height:50%;
}


.containerReservation{
    background-image: url("");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.imageResa
{
    width: 100%;
    height: 50vh;
    background-image: url("../../assets/Pictures/suite-chambre.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

.NbPerson{
    width: 15%;
    text-align: center;
}


.logoDiscount, .logoBed{
    width: 1.5rem;

}
.logoOptions {
    width: 1rem;
}

.inputResa
{
    width:95%;
}
.payment{
    margin: 5vh 0vh 5vh 0vh
}

.backgroundButtons {
    background-color: #49a078c4;
}