.familyText
{
    font-family: AdventPro;
}

.contentReservation
{
    background-color: white;
    flex-direction: row;
    margin: auto;
    width:100%;
    height:50%;
}


.containerReservation{
    background-image: url("../../assets/Pictures/imageBackground.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.imageResa
{
    width: 80%;
    height: 50vh;
    background-image: url("../../assets/Pictures/suite-chambre.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}