.fontButtonSave
{
    font-family: AdventPro;
    background-color: white;
}

.fontButtonDeco
{
    background-color: red;
    font-family: AdventPro;
    color:white;
}


.fontButtonSupp
{
    font-family: AdventPro;
    background-color: black;
}

.hautPage
{
    background-image: url("../../assets/Pictures/fondUserProfile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}